/* GLOBAL */
*{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 1.5;
  background-color: #fff;
  color: #444;
}

*:focus{
  outline: 2px dotted #DE2E54;
  outline-offset: 2px;
}


/* CONTAINER */
.container{
  width: 100%;
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-HEADER */
.site-header{
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SITE-LOGO */
.site-logo{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: #222;
}

.site-logo:hover{
  color: #DE2E54;
}

.site-logo:active{
  opacity: 0.6;
}

.site-logo-img{
  margin-right: 16px;
  border-radius: 50%;
}

/* SITENAV */
.sitenav{
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
.sitenav-list{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav-item:not(:last-child){
  margin-right: 32px;
}

.sitenav-link{
  display: block;
  text-decoration: none;
  color: #222;
}

.sitenav-link:hover{
  color:  #DE2E54;
}

.sitenav-link:active{
  opacity: 0.6;
}

/* MAIN-LINK */
.main-link{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #DE2E54;
  text-transform: uppercase;
  padding: 10px 22px;
  border: 2px solid #DE2E54;
  font-size: 15px;
  letter-spacing: 2px;
  border-radius: 8px;
}

.main-link:hover{
  background-color: #fff;
  color: #DE2E54;
  border-color: #DE2E54;
}

.main-link:active{
  background-color: #DE2E54;
  color: #fff;
  opacity: 0.6;
}

/* HERO */
.hero{
  background-color: #0EB4C1;
  color: #fff;

}

.hero-container{
  display: flex;
  justify-content: space-between;
}

.hero-content{
  padding-top: 120px;
  padding-bottom: 120px;
  width: 500px;
}

.hero-heading{
  margin-top: 0;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.hero-text{
  width: 440px;
  margin-top: 0;
  margin-bottom: 36px;
}

.hero-img{
  align-self: flex-end;
}

.main-link-solid:hover{
  background-color: rgba(222, 46, 84, 0.8);
  border-color: transparent;
  color: #fff;
}

.main-link-solid:active{
  background-color: rgba(222, 46, 84, 0.6);
  opacity: 1;
}

/* INDEX-SERVICES */
.index-services{
  padding-top: 120px!important;
  padding-bottom: 120px!important;

}

.index-services-heading{
  text-align: center;
  margin-top: 0;
  font-size: 36px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 56px; 
}

.index-services-list{
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 864px;
  margin-bottom: 60px;
}

.index-services-item:not(:last-child){
margin-bottom: 80px;
}

.index-service{
  display: flex;
  align-items: center;
}

.index-service-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 64px;
  box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
  border-radius: 24px;
}

.index-services-content{
  width: 600px;
}

.index-service-title{
  margin-top: 0;
  margin-bottom: 24px;
  color: #222;
}

.index-service-description{
  color: #444;
  margin: 0;
}

.index-service-action{
  display: flex;
  justify-content: center;
}

/* SITE-FOOTER */
.site-footer{
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222;
}

.site-footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo-site-footer{
  color: #fff;
}

.site-logo-site-footer:active{
  color: #fff;
  opacity: 0.6;
}

.sitenav-site-footer .sitenav-link{
  color: #fff;
}

.sitenav-site-footer .sitenav-link:hover{
  color: #DE2E54;
}

.sitenav-site-footer .sitenav-link:active{
  color: #fff;
  opacity: 0.6;
}